<footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>
<script type="text/javascript"><!--
$(document).on('click','.button-upload',function() {
	$('#form-upload').remove();
var that = $(this);
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');

	$('#form-upload input[name=\'file[]\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file[]\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=common/filemanager/upload&user_token={{ user_token }}&directory={{ directory|escape('js') }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				success: function(json) {
					that.prev().val(json.data);
					that.prev().prev().attr("src",json.data);					
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log('fghfhf');
				}
			});
		}
	}, 500);
});
</script>
</body></html>
